<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.partaker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.DonorWishActivity" />
        <activity android:name=".activities.AllDonationsDetail" />
        <activity android:name=".activities.AllRequestsNGO" />
        <activity android:name=".activities.AllRequestsDetail" />
        <activity android:name=".activities.AllDonationsNGO" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".fragments.ProfileFragment" />
        <activity android:name=".fragments.ForgotPasswordFragment" />
        <activity android:name=".fragments.AboutAppFragment" />
        <activity android:name=".activities.AddPostActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".fragments.donor.MyDonationsFragment" />
        <activity android:name=".fragments.donor.MyDonationsDetailFragment" />
        <activity android:name=".fragments.donor.HomeDonorDetailFragment" />
        <activity
            android:name=".activities.MainReceiverActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".fragments.receiver.HomeReceiverDetailFragment" />
        <activity android:name=".fragments.receiver.MyRequestsFragment" />
        <activity android:name=".fragments.receiver.MyRequestsDetailFragment" />
        <activity
            android:name=".activities.HomeNGOActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".fragments.ngo.ApproveDonationFragment" />
        <activity android:name=".fragments.ngo.ApproveDonationDetailFragment" />
        <activity android:name=".fragments.ngo.ApproveRequestFragment" />
        <activity android:name=".fragments.ngo.ApproveRequestDetailFragment" />
        <activity android:name=".fragments.ngo.ApproveDonorRequestFragment" />
        <activity android:name=".fragments.ngo.ApproveDonorRequestDetailFragment" />
        <activity android:name=".fragments.ngo.ApproveReceiverRequestFragment" />
        <activity android:name=".fragments.ngo.ApproveReceiveRequestDetailFragment" />
    </application>

</manifest>